
.background{
    width: 90%;
    height: 400px;
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .container{
    width: 90%;
    height: 400px;
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  } */